@charset "UTF-8";


.hero-area_under {
	position: relative;
	margin-top: 80px;
	width: 100%;
	max-height: 500px;
	height: 90vh;
	
	h2 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		color: white;
		font-size: 3.4rem;
		font-weight: 800;
	}
}

.food {
	background: url(../image/menu-top.jpg)no-repeat center/cover;
}
.room {
	background: url(../image/oheya-top.jpg)no-repeat center/cover;
}
.onsen {
	background: url(../image/onsen-top.jpg)no-repeat center/cover;
}


//パンくずリスト

.breadcrumbs {
	margin: 0 auto;
	padding: 33px 20px 0;
	max-width: 1180px;
	width: 100%;
	
	ol {
		display: flex;
		
		li {
			display: flex;
			font-size: 1.6rem;
			
			&::after {
				content: "\03e";
				display: block;
				margin: 0 1em;
			}
			
			&:last-of-type::after {
				display: none;
			}
		}
		
	}
}

//メインエリア

.main-area {
	margin: 0 auto;
	padding: 69px 20px;
	
	.page-description {
		margin-bottom: 133px;
		font-size: 1.6rem;
		line-height: calc(32/16);
		text-align: center;
	}
	
	figure {
		display: flex;
		justify-content: center;
		margin: 0 auto 141px;
		max-width: 1180px;
		width: 100%;
		
		&:nth-of-type(3) {
			margin-bottom: 150px;
		}
		
		img {
			margin-top: -52px;
			max-width: 525px;
			width: 40vw;
			height: 300px;
			object-fit: cover;
			z-index: 1;
		}
		
		figcaption {
			margin-left: -158px;
			padding: 55px 55px 55px 238px;
			max-width: 813px;
			width: 50vw;
			min-height: 381px;
			height: auto;
			background: url(../image/bg01.jpg)no-repeat center/cover;
			
			h3 {
				margin-bottom: 1em;
				font-size: 2.4rem;
				line-height: calc(32/24);
			}
			
			.text {
			
				p {
					margin-bottom: 2em;
					font-size: 1.6rem;
					line-height: calc(32/16);
				}
				
				li {
					display: flex;
					font-size: 1.4rem;
					line-height: calc(21/14);
					
					&::before {
						content: "＊";
						display: block;
					}
				}
			}
		}
		
		&:nth-of-type(even) {
			flex-direction: row-reverse;
			
			figcaption {
				margin-left: 0;
				margin-right: -158px;
				padding:55px 238px 55px 55px;
			}
		}
		
		&:nth-of-type(3) {
			margin-bottom: 0;
		}
		
		@include w1024 {
			align-items: center;
			flex-direction: column;
			
			img {
				margin-top: 0;
				margin-bottom: 3em;
				width: 90%;
			}
			
			figcaption {
				margin-left: 0;
				padding: 55px;
				width: 90%;
				min-height: unset;
			}
			
			&:nth-of-type(even) {
				flex-direction: column;
				
				img {
					margin-top: 0;
					margin-bottom: 3em;
					width: 90%;
				}
				
				figcaption {
					margin-right: 0;
					padding: 55px;
					width: 90%;
					min-height: unset;
				}
			}
		}
		
		@include mobile {
			figcaption {
				padding: 55px 20px;
			}
			
			&:nth-of-type(even) {
				figcaption {
					padding: 55px 20px;
				}	
			}
		}
	}
	
	.efficacy {
		margin: 0 auto 96px;
		border-top: 1px solid $gray;
		border-bottom: 1px solid $gray;
		padding: 90px 0 74px;
		max-width: 1180px;
		width: 100%;
		
		h4 {
			margin-bottom: 47px;
			font-size: 2.6rem;
			line-height: calc(32/26);
			text-align: center;
		}
		
		dl {
			margin: 0 auto;
			max-width: 880px;
			width: 90%;
			
			.list {
				padding: 15px 0;
				display: flex;
				align-items: center;
				border-top: 1px solid $gray;
				font-size: 1.5rem;
				line-height: calc(22/15);
				
				dt {
					width: 220px;
				}
				
				dd {
					width: 660px;
					text-align: justify;
				}
				
				
				&:last-of-type {
					border-bottom: 1px solid $gray;
				}
			}
		}
		
		@include w1024 {
			
			dl {
				.list {
					padding: 15px;
					display: block;
					
					dt {
						margin-bottom: 1em;
					}
					
					dd {
						width: unset;
					}
				}
			}
		}
	}
}
